.content_desayunos{
	letter-spacing: 3px;
    background-color: #F4EFE9;
    font-family: Font_Primary_Ligth;
}

.Container_desayuno{

    h3{
	font-family: Font_Secondary_Ligth;
    text-align: center;
    font-size: 20px;
    }

    h4{
        color: #A58D6C;
        margin-top: 25px;
        font-family: Font_Secondary_Ligth;
        text-align: center;
        font-size: 18px; 
    }



}

/* D E S A Y U N O  */

.F_rigth h2{
    float: right;
}

.Space_Style{
    margin-top: 80px;
}

.Style_Desayuno_List{

    


    p {
        font-family: Font_Secondary_Ligth;
        
    
    
        }


    h2{
        margin-top: 15px;
        border-bottom: solid 1px #A58D6C;
        font-family: Font_Secondary_Bold;
        font-size: 25px;

    }


    


}

.Style_Desayuno_Img img{
   width: 100%;
}