.Container_Entradas{

    h1{
        font-size: 70px;
        margin-top: 50px;
		font-family: Font_Primary_Ligth;
        color: white;
	    letter-spacing: 3px;

        
    }
}

.Style_Entradas_List{

    


    p {
        font-family: Font_Secondary_Ligth;
        color: #fefefe;
        
    
    
        }


    h2{
        color: #fefefe;

    }


    h2{
        margin-top: 15px;
        border-bottom: solid 1px #A58D6C;
        font-family: Font_Secondary_Bold;
        font-size: 25px;

    }


    


}