@font-face {
	font-family: Font_Primary_Ligth;
	src: url(../fonts/Orpheus-Light.otf);
  }

  @font-face {
	font-family: Font_Primary_Medium;
	src: url(../fonts/Orpheus-Medium.otf);
  }



@font-face {
	font-family: Font_Primary_Bold;
	src: url(../fonts/Orpheus-Bold.otf);
  }




@font-face {
	font-family: Font_Secondary_Black;
	src: url(../fonts/Vezus-Black.ttf);
  }

  @font-face {
	font-family: Font_Secondary_Ligth;
	src: url(../fonts/Vezus-Light.ttf);
  }


  @font-face {
	font-family: Font_Secondary_Bold;
	src: url(../fonts/Vezus-Bold.ttf);
  }

  @font-face {
	font-family: Font_Secondary_Normal;
	src: url(../fonts/Vezus.ttf);
  }







body{
    background: linear-gradient(-65deg, #1C3532, #1a312f, #1a312f, #1C3532);
	background-size: 400% 400%;
	animation: gradient 25s ease infinite;
	height: 100vh;
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}




.Logo-Menu img{
    display: block;
	margin-bottom: 35px;
    margin-left: auto;
    margin-right: auto;
    width: 25%;
}


.border-rigth{
	border-right: solid 1px #F4EFE9;
}


	.Container_menu1{
		margin-top: 10px;
		margin-bottom: 25px;
	}



.Btn_Style_1{

	img{
		max-width: 10%;
		padding-right: 20px;
	}



	padding-top: 50px;
	display: flex;
	justify-content: center;
	align-items: center;

	button{
		width: 50%;
		border-radius: 0px;
		font-family: Font_Primary_Ligth;
		letter-spacing: 3px;
		font-size: 30px;
		background: none;
		border: solid 1px #F4EFE9;
		padding: 25px;
		justify-content: center;
		text-align: center;
	}

	button:hover{
		font-family: Font_Primary_Medium;
		border-radius: 3px;
		background-color: #F4EFE9;
		border: solid 1px #F4EFE9;
		color: #1C3532;
		padding: 26px;

	}


	.btn-primary:focus{
		font-family: Font_Primary_Medium;
		border-radius: 3px;
		background-color: #F4EFE9 !important;
		border: solid 1px #F4EFE9;
		color: #1C3532;
		padding: 26px;
		box-shadow: 0 0 0 0.25rem rgb(244 239 233 / 50%) !important;
	}


	.btn-check:active+.btn-primary:focus, .btn-check:checked+.btn-primary:focus, .btn-primary.active:focus, .btn-primary:active:focus, .show>.btn-primary.dropdown-toggle:focus {
		box-shadow: 0 0 0 0.25rem rgb(244 239 233 / 50%) !important;
	}



	
}



.Btn_Style_2{

	img{
		max-width: 10%;
		padding-right: 20px;
	}
	padding-top: 50px;
	display: flex;
	justify-content: center;
	align-items: center;

	button{
		width: 50%;
		border-radius: 0px;
		font-family: Font_Primary_Ligth;
		letter-spacing: 3px;
		font-size: 30px;
		background: none;
		border: solid 1px #F4EFE9;
		padding: 25px;
		justify-content: center;
		text-align: center;
	}

	button:hover{
		font-family: Font_Primary_Medium;
		border-radius: 3px;
		background-color: #F4EFE9;
		border: solid 1px #F4EFE9;
		color: #1C3532;
		padding: 26px;

	}


	.btn-primary:focus{
		font-family: Font_Primary_Medium;
		border-radius: 3px;
		background-color: #F4EFE9 !important;
		border: solid 1px #F4EFE9;
		color: #1C3532;
		padding: 26px;
		box-shadow: 0 0 0 0.25rem rgb(244 239 233 / 50%) !important;
	}


}


a.btn.btn-primary{
	width: 50%;
		border-radius: 0px;
		font-family: Font_Primary_Ligth;
		letter-spacing: 3px;
		font-size: 30px;
		background: none;
		border: solid 1px #F4EFE9;
		padding: 25px;
		justify-content: center;
		text-align: center;

		button{
			width: 50%;
			border-radius: 0px;
			font-family: Font_Primary_Ligth;
			letter-spacing: 3px;
			font-size: 30px;
			background: none;
			border: solid 1px #F4EFE9;
			padding: 25px;
			justify-content: center;
			text-align: center;
		}
}

.styles_scroll-to-top__2A70v{
	background-color: #1C3532;
	box-shadow: -2px 11px 28px -1px rgba(165,141,108,0.67);
-webkit-box-shadow: -2px 11px 28px -1px rgba(165,141,108,0.67);
-moz-box-shadow: -2px 11px 28px -1px rgba(165,141,108,0.67);
	padding: 5px;
	color: #1C3532;
	border-radius: 100% !important;
}

.center_text{
	text-align: right;
	font-size: 25px;
}

.Color_gold{

	p{
		color: #A58D6C !important;
		font-weight: bold;

	}

	h2{
		color: #A58D6C !important;
		border-bottom: none !important;
	}
}

.Style_line_gold{
	padding-top: 50px;
	border-bottom: solid 5px #A58D6C;
}